<div class="container">
<h1> We are learning here</h1>
<p> We are working on our very first page</p>
<p> We are looking to add as many elements and new features as possible</p>
	</div>
<div class="container">
<h1> Who is making this?</h1>
<p> Zachary Lyman, University of Michigan Business Student who has a lot of time on his hands second semester senior year</p>
</div>

<div class="container">
	<h1> Where is this app being made?</h1>
	<p>  Ann Arbor Michigan  - Right outside the D </p>
</div>

<div class="container">
  <div class="col-xs-6 col-md-3">
    <a href="http://content.sportslogos.net/logos/32/750/full/2540.gif" class="thumbnail">
      <img data-src="" alt="Go Blue!!!!">
    </a>
  </div>	