$body-bg: #ecf0f1;

$navbar-height:								45px;
$navbar-default-bg: 					white;
$navbar-default-brand-color:	red;


$brand-primary: 							blue;

$jumbotron-bg: 								green;

@import 'bootstrap';

.center {
	text-align: center;
}

.navbar-brand {
	font-weight: bold;
}